<ion-card class="sizing">
  <!-- <div *ngIf="{{x.bookCover}}=null; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock><img class="img-fluid" alt="Responsive image" src="assets/lrrn.jpg" class="img"/></ng-template>
  <ng-template #elseBlock><img class="img-fluid" alt="Responsive image" src="https://cdn.mangaeden.com/mangasimg/{{x.bookCover}}" class="img"/></ng-template> -->
  <img class="img-fluid" alt="Responsive image" src="https://cdn.mangaeden.com/mangasimg/{{x.bookCover}}" class="img"/>
  <ion-card-header>
  </ion-card-header>
​
  <ion-card-content class="bodySizing">
    <ion-title>{{x.name}}</ion-title>
  </ion-card-content>
</ion-card>