<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-button (click)="signOut()">Sign out</ion-button>
        <ion-list id="manga-list">
          <ion-list-header>Manga</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let m of mangaPages; let i = index">
            <ion-item (click)="selectedComic = i" (click)="unCheck()" routerDirection="root" [routerLink]="[m.url]" lines="none"
              detail="false" [class.selected]="selectedComic == i">
              <ion-icon slot="start" [ios]="m.icon + '-outline'" [md]="m.icon + '-sharp'"></ion-icon>
              <ion-label>{{ m.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="comic-list">
          <ion-list-header>Comics</ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngFor="let c of comicPages; let i = index">
            <ion-item (click)="selectedManga = i" (click)="unCheck()" routerDirection="root" [routerLink]="[c.url]" lines="none"
              detail="false" [class.selected]="selectedManga == i">
              <ion-icon slot="start" [ios]="c.icon + '-outline'" [md]="c.icon + '-sharp'"></ion-icon>
              <ion-label>{{ c.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>