.headerTitle{
    text-align: center;
}

.sizing{
    width: 18rem;
}
.img{
    height: 20rem;
    align-items: center;
    justify-content: center;
}
.bodySizing{
    text-align: center;
    border-radius: 25px;
}